<?xml version="1.0"?>
<launch>
    <!--<param name="use_sim_time"          value="true" />-->
    <arg name="info_topic"              value="/camera_info"/>
    <arg name="left_image_topic"        value="/long/left/image_raw"/>
    <arg name="right_image_topic"       value="/long/right/image_raw"/>
    <arg name="queue_size_img"          value="10"/>
    <arg name="my_ns"                   value="/long"/>

    <group ns="$(arg my_ns)">

        <node pkg="undistort_images" type="publishCameraInfo" name="publishCameraInfo_left">
            <param name="topic/info"        value="$(arg info_topic)" />
            <param name="topic/img"         value="$(arg left_image_topic)" />
            <param name="camfile"           value="left_half" />
            <param name="queue_size/img"    value="$(arg queue_size_img)" />
            <param name="cut"               value="false" />
        </node>

        <node pkg="undistort_images" type="publishCameraInfo" name="publishCameraInfo_right">
            <param name="topic/info"        value="$(arg info_topic)" />
            <param name="topic/img"         value="$(arg right_image_topic)" />
            <param name="camfile"           value="right_half" />
            <param name="queue_size/img"    value="$(arg queue_size_img)" />
            <param name="cut"               value="false" />
        </node>

        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc">
            <remap from="/stereo/left/image_raw"    to="$(arg left_image_topic)" />
            <remap from="/stereo/right/image_raw"   to="$(arg right_image_topic)" />
            <remap from="/stereo/left/camera_info"  to="$(arg my_ns)/left$(arg info_topic)" />
            <remap from="/stereo/right/camera_info" to="$(arg my_ns)/right$(arg info_topic)" />
        </node>

    </group>
</launch>
