<?xml version="1.0"?>
<launch>
    <param name="use_sim_time" value="false" />
    <arg name="calibration_file_position" value="$(find undistort_images)/calib_files/stereo.yaml"/>
    <arg name="left_topic" value="/wide/left/image"/>
    <arg name="right_topic" value="/wide/right/image"/>
    <arg name="queue_size_img" value="1"/>
    <arg name="queue_size_imu" value="10"/>


    <node pkg="undistort_images" type="publishCameraInfo" name="publishCameraInfo" output="screen">
        <param name="topic/left" value="$(arg left_topic)" />
        <param name="topic/right" value="$(arg right_topic)" />
        <param name="queue_size/img" value="$(arg queue_size_img)" />
        <param name="queue_size/imu" value="$(arg queue_size_imu)" />
        <param name="queue_size/sync" value="$(arg queue_size_sync)" />
        <param name="calibration" value="$(arg calibration_file_position)" />
    </node>
</launch>
